body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

* {
  color: var(--text-color);
  box-sizing: border-box;
}

.write blockquote {
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  font-size: 1.3rem;
}

h2 > strong {
  color: var(--text-color) !important;
}

button.selected {
  background-color: var(--primary-color) !important;
}

.hljs-copy-wrapper {
  border-radius: 5px;
}

.shadow-button {
  filter: drop-shadow(var(--img-shadow-color) 0px 3px 3px)
}
