body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.write blockquote {
  margin-left: 0px;
  margin-right: 0px;
}

h2 > strong {
  color: var(--text-color) !important;
}

button.selected {
  background-color: var(--primary-color) !important;
}

.hljs-copy-wrapper {
  border-radius: 5px;
}
