<div class="flex flex-col gap-5" th:fragment="postsList (posts)">
  <div
    th:each="post : ${posts.items}"
    class="flex flex-col p-y-4 p-x-4 hover:shadow-card transition duration-300 rounded-lg cursor-default"
    th:onclick="|window.location.href='@{${post.status.permalink}}'|"
  >
    <span th:text="${post.spec.title}" class="text-lg font-semibold mb-3 textc-primary"></span>
    <div th:text="${post.status?.excerpt + '...'}" class="mb-2"></div>
    <div class="flex justify-between items-center h-4">
      <span th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}" class="text-3.2"></span>
      <div class="flex items-center h-100%">
        <span th:href="@{${post.status.permalink}}" class="textc-primary text-3.2 mr-0.5">Read More</span>
        <div class="i-material-symbols:arrow-right-alt-rounded textc-primary mt-0.5"></div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center my-8 p-x-4">
    <div>
      <a
        th:href="@{${posts.prevUrl}}"
        th:if="${posts.hasPrevious()}"
        class="pr-2.5 flex items-center cursor-default no-underline border border-solid border-2 borderc-primary p-1.5 text-sm rounded hover:bgc-primary hover:text-white transition duration-300"
      >
        <span class="i-material-symbols:chevron-left-rounded inline-block size-4 mt-0.25"></span>
        <span class="text-inherit">Previous Page</span>
      </a>
    </div>
    <div>
      <a
        th:href="@{${posts.nextUrl}}"
        th:if="${posts.hasNext()}"
        class="pl-2.5 flex items-center cursor-default no-underline border border-solid border-2 borderc-primary p-1.5 text-sm rounded hover:bgc-primary hover:text-white transition duration-300"
      >
        <span class="text-inherit">Next Page</span>
        <span class="i-material-symbols:chevron-right-rounded inline-block size-4 mt-0.25"></span>
      </a>
    </div>
  </div>
</div>
