<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${site.title}, header = ~{modules/header::header}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <div class="write">
      <div>
        <h3>Archives</h3>
        <ul>
          <li th:each="post : ${posts.items}" class="line-height-loose">
            <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
            <span th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}" class="ml-1.5 text-sm"></span>
          </li>
        </ul>
      </div>
    </div>
  </th:block>
</html>
